<%= form_with(model: navig, local: true) do |form| %>
  <% if navig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(navig.errors.count, "error") %> prohibited this navig from being saved:</h2>

      <ul>
      <% navig.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :home %>
    <%= form.text_field :home %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
